.nav {
    background-color: rgb(40, 33, 102);
    display: flex;
    height: 6vh;
}

.button {
    margin: .6rem;
    border-radius: .4rem;
    border: none;
    width: 6rem;
    height: 2rem;
    background-color: rgb(228, 107, 208);
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
}

.link {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;

}

.logout {
    position: absolute;
    left: 90%;
    top: 1%;
    cursor: pointer;

}

.logoutButton {
    cursor: pointer;
    margin: .1rem;
    border-radius: .4rem;
    border: none;
    width: 6rem;
    height: 2rem;
    background-color: rgb(216, 230, 13);
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
}